@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@491&display=swap');

* {
    font-family: "Raleway", serif ;
    font-optical-sizing: auto;
    font-weight: 491;
    font-style: normal;
  }
header {
    background: #202020;
    padding: 10px 0;  
    position: sticky;
    top: 0;  
    z-index: 999;
}
header .inner-logo a {
    font-size: 24px; font-weight: 700; color: #fff;
}
    /*
    End Header */
    /*
    Body */
    .body .sider { 
        width: 150px;
        background: #323232;
        color: #fff;
        height: calc(100vh - 56px);
        position: fixed;
        top: 56px; 
        left: 0;
    }
    .body {
        margin: 15px;
        position: relative;
        left: 150px;
        width: calc(100% - 180px);
    }
    
    .sider .inner-menu ul {
        list-style: none;
        padding: 0;
        margin: 0
    }
    
    .sider .inner-menu ul li a{
        color: #fff;
        display: block;
        padding: 6px 10px;
        border-bottom: 1px solid #515151
    }

/* Show Alert */ 
[show-alert]{
    position: fixed;
    top: 70px; 
    right: 15px; 
    z-index: 9999;
}
[show-alert].alert-hidden {
    animation-name: alert-hidden; 
    animation-duration: 0.5s; 
    animation-fill-mode: both;
}
@keyframes alert-hidden{
    from {
        right: 15px;
    }
    to {
    right: -100%; 
    display: none;
    }
}
/* End Show Alert */
[show-alert] [close-alert] {
    background:#ffffffc4;
    display: inline-block;
    width: 24px; 
    height: 24px; 
    line-height: 24px; 
    text-align: center; 
    font-weight: 600; 
    border-radius: 50%; 
    cursor: pointer;
}


/* Image Preview */ 
.image-preview {
    width: 150px; 
    height: auto; 
    margin-top: 15px; 
    border: 1px solid #ddd;
    padding: 15px; 
    border-radius: 5px;
}
.image-preview[src=""]{
    display: none;
}
/* End Image Preview */

/* Question-manage */

.questions-container{
    padding: 15px;
}

.questions-container .title{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.custom-dropdown {
    position: relative;
    width: 80%;
}
.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.dropdown-menu.show {
    display: block; /* Chỉ hiển thị khi có class 'show' */
}
.dropdown-item {
    padding: 10px;
    cursor: pointer;
}
.dropdown-item:hover {
    background-color: #f8f9fa;
}
.selected-value {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0;
}

.form-control {
    padding-top: 1.25rem;
    height: calc(3rem + 2px);
}

.form-group label {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    transition: all 0.2s ease-in-out;
    background: white;  
    padding: 0 5px;
    color: #aaa;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
    top: -0.5rem;
    font-size: 0.875rem;
    color: #007bff;
}

.form-group.description{
    width: 50%;
}

.form-question-answer{
    background-color: #ddd;
    margin-top: 20px;
    padding: 40px;
}
.questions-content{
    display: flex;
    gap: 25px;
    padding-top: 0;
}

.questions-content .group-upload{
    padding-top: 10px;
}

.questions-content .group-upload .label-up{
    margin-right: 3px;
    cursor: pointer;
    color: #9068ff;
    font-size: 25px;
    
}

.questions-content .group-upload .label-up:hover{
    color: #4400ff;
}

.questions-content .btn-add{
    padding-top: 7px;
}

.questions-content .btn-add .icon-add{
    font-size: 25px;
    color: #2596ff;
    cursor: pointer;
}

.questions-content .btn-add .icon-add:hover{
    color: #0989ff;
}

.questions-content .btn-add .icon-remove{
    margin-left: 10px;
    font-size: 25px;
    color: #e8771c;
    cursor: pointer;
}

.questions-content .btn-add .icon-remove:hover{
    color: #ff7608;
}

.answer-content{
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-top: 30px;
    align-items: center;
}

.answer-content .iscorrect{
    font-size: 20px;
}

.answer-content .answer-name{
    width: 60%;
    margin: 0;
}

.answer-content .btn-group .icon-add{
    font-size: 25px;
    color: #2596ff;
    cursor: pointer;
}
.answer-content .btn-group .icon-add:hover{
    color: #0989ff;
}

.answer-content .btn-group .icon-remove{
    margin-left: 10px;
    font-size: 25px;
    color: #e8771c;
    cursor: pointer;
}

.answer-content .btn-group .icon-remove:hover{
    color: #ff7608;
}



/* End Question-manage */