extends ../../layouts/default.pug
include ../../mixins/product-layout.pug
block main 
  .container.my-3
        .row 
            .col-12 
                .box-head
                    h2.inner-title Danh sách sản phẩm
        +product-grid(products)
        

