extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
    .product-detail
        .container.my-5
            .row
                .col-12
                    .inner-thumb
                        img(src=product.thumbnail, alt=product.title )
        .container
            span.product-description !{product.description}

